.create{
    text-align: left;
    width: 700px;
}

.create-header{
    font-size: 40px;
    padding: 30px 0;
    font-weight: 700;
}

.create-container{
    
}

.create-required{
    font-size: 14px;
    padding: 0 0 10px 0;;
}

.image-holder{
    padding: 20px 0;
}

.image-title{
    font-weight: 500;
    font-size: 23px;
}

.image-supported{
    font-size: 14px;
    font-weight: 200;
    padding: 0 0 30px 0;
}

.image-container{
    width: 300px;
    height: 220px;
    border-radius: 20px;
    background-color: #ffe0b2;
    padding: 10px 0;
    border: 1px dashed #ccc;
}

.image-name{
    padding: 20px 0;
}

.image-description{
    padding: 20px 0;
}

.image-price{
    padding: 20px 0;
}

.image-create-btn{
    width: 100%;
}

.create-btn{
    color: white;
    background: #ccc;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    width: 110px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover{
        color: gray;
        background: #ccc;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------
                                                Create Page
-----------------------------------------------------------------------------------------------------------------------*/

.create-title{
    font-size: 30px;
    padding : 23px 0px;
    font-weight: 800;
    width: 320px;
    text-align: left;
    color:rgb(73, 73, 73);
}

.media-upload-control{
    width: 360px;
    height: 250px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    overflow: hidden;

    .default-image:hover{
        background-color: #ccc;
    }
}

.media-upload-control:hover{
    background-color: #ccc;
    .create-image-close{
        display: block;
    }
}

.create-image-close{
    position: sticky;
    width: auto;
    margin-left: 310px;
    top: 0;
}

.create-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin-top: -22px;
}

.alert-text{
    font-size: 12px;
    padding: 0 0 5px 0;
    color: #969696;
}

.red{
    color: red;
}

.create-info{
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0px;
    color:rgb(73, 73, 73);
}